/* :root gäller hela webbplatsen och nås av alla undersidor */
/* alla mina custum property 
:root {
    --cDark: #444;
    --cLIght: #ddd;

    --text: calc(100vw - 30 px);
    --font: 100vw;
    /*  font-size: 34vw  sedan calc? 
    @media (min-width: 1000px){
            h1 {
              font-size: 36px;
            }
        
            p {
              font-size: 20px;
            }
    }        
}*/

body {
    margin: 0;
    height: 100vh; 
    box-sizing: border-box;
    padding: 80px 30px;
    color: white;

    /* Bakgrundsbild DEVA*/
    background-image: url("img-original/A-deva_cover_large_1280x1054-beskuren.kvalitet-70.jpg");
    /* background-image: url("img-original/A-deva_cover_large_5404x5404-beskuren.jpg"); */
    background-size: 100vw 75vw;
    background-position: top right;
    background-repeat: no-repeat;
    /*Fixerar bilden på sin position.  */
    background-attachment: fixed;
} 

/*---------- FONTS ----------*/

    body { font-family: "Barlow condensed"; }

    body h1 { font-family: "Bungee Outline"; }

    body h2 { font-family: "Barlow Condensed"; }

    header h1{
        font-family: "Bungee shade";
        font-size: 4vw;
    }


/*---------- WRAPPER ----------*/
/* hela sidan inkl footer (SVART BAKGRUND)*/
body > div > div {
    padding: 13px;
    background-color: rgba(64, 64, 64, 0.5);
    border-radius: 12px;
}

/*---------- HEADER ----------*/
header h1 {
    height: 150px;
    font-size: 7.5vw;
    /* margin-top: -37px; */
   /*  margin-left: 5px;
    height: 69px;
margin-top: -37px;
margin-left: 5px;*/
margin: 0; 
line-height: 1;
}

/*---------- NAVIGATION ----------*/

    /* NAVIGATION BAR*/
    body:nth-child(2) nav {
        width: 100%;
        display: flex;

    }

    /* NAVIGATION LINKS */
    body:nth-child(2) nav div {
        width: 80%;
        font-size: 2vw;
        color: black;
        background-color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        border: 1px solid white;
        border-radius: 8px;    
        
        padding: 15px;
        margin: 1.5px;

        display: inline-block;
        flex-direction: column;
        text-align: center;
        }


    /* NAVIGATION HOVER */
    body:nth-child(2) nav div:hover { 
        color: white;
        background-color: black;
        border-color: black;
    }

    /* NAVIGATION ACTIVE */
    body:nth-child(2) nav div:nth-child(2) {
        box-shadow: 0 0 4px 1px rgba(187, 189, 190, 0.84);
        border: 1px solid white;
        color: black;
        font-weight: bold;
        font-family: "Barlow Semi Condensed";
    }

    /* HOVER_NOT */
    body:nth-child(2) nav div:nth-child(2):hover {
        box-shadow: 0 0 2px 2px rgba(187, 189, 190, 0.84);
        border: 1px solid white;
        color: black;
        font-weight: bold;
        font-family: "Barlow Semi Condensed";
        background-color: rgba(255, 255, 255, 0.7);
    }


/*---------- MAIN ----------*/

main {
    margin: 50px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

    /* ALBUM DATA - ARTICLE */
    main article {
        border: 1px solid white;
        border-radius: 14px;
        padding: 10px;
    }

    main article h1 {
        line-height: 1;
        margin: 0px;
        
    }






/*---------- MEDIA QUERIES DESKTOP ----------*/
/* DESKTOP */
@media (min-width: 800px) and (max-width:1111px){
    /* IMG-BACKGROUND */
    body {
    background-image: url("img-desktop/A-deva_cover_desktop_1280x1280.jpg");
    

        /* Hugo:
        
        Jag inspekterade i firefox när bredden var på 1111px och kollat vad storleken var då och lagt fast strl när den når över 1111px. EX. h1 {font-size: 44.4px;}
        */
    }
}


/*---------- MEDIA QUERIES TABLET ----------*/
/* TABLET */
@media (min-width: 500px) and (max-width:800px){
    
    /* IMG-BACKGROUND */
    body > div {
    background-image: url("img-tablet/A-deva_cover_tablet_800x800.jpg");
    background-color: teal;
    }
}



/*---------- MEDIA QUERIES MOBILE ----------*/
/* MOBILE */
@media (max-width: 500px) {

    /* IMG-BACKGROUND */
    body {
        background-image: url("img-mobile/deva_cover_mobile_500x500.jpg");
        background-color: orchid;
    }
    body > div > div {
        height: 100%;
    }
}

